body {
    background: white;
    padding: 0;
    margin: 0;
}

header {
   position: sticky;
   top: 0; 
   background: black;
   color: white;
    font-family: 'Karma', serif;
   text-align: left;
   padding-left: 17px;
   height: 15%;
   z-index: 2;
}

/*
#header-title {
    font-size: xx-large;
}

#header-subtitle {
    font-size: x-large;
}
*/

#main-content {
    background-image: linear-gradient(rgba(255,255,255,0.84), rgba(255,255,255,0.84)), url(./images/background.png);
}

#content-title {
    text-align: center;
    font-size: xx-large;
}

.section-title {
    text-align: center;
    font-family: 'Karma', serif;
    font-size: 3.5em;
}

.iframe-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    z-index: 1;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 17%;
    width: 66%;
    height: 66%;
    text-align: center;
}
