body {
    background: white;
    padding: 0;
    margin: 0;
}

header {
   position: sticky;
   top: 0; 
   background: black;
   color: white;
    font-family: 'Karma', serif;
   text-align: left;
   padding-left: 17px;
   height: 15%;
   z-index: 2;
}

/*
#header-title {
    font-size: xx-large;
}

#header-subtitle {
    font-size: x-large;
}
*/

#main-content {
    background-image: linear-gradient(rgba(255,255,255,0.84), rgba(255,255,255,0.84)), url(./images/background.png);
    background-repeat: repeat-y;
}

#content-title {
    text-align: center;
    font-size: xx-large;
}

.section-title {
    text-align: center;
    font-family: 'Karma', serif;
    font-size: 3.5vw;
}

.iframe-container {
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    padding-bottom: 48%;
    height: 0;
    z-index: 1;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 7.5%;
    width: 85%;
    height: 85%;
    text-align: center;
}
