body {
    background: white;
    padding: 0;
    margin: 0;
    font-family: 'Karma', serif;
}

header {
   position: sticky;
   top: 0; 
   background: black;
   z-index: 2;
}

#header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header-element {
    display: flex;
    flex-direction: row;
    padding: 0 50px 0 30px;
}

#main-content {
    background-image: linear-gradient(rgba(255,255,255,0.84), rgba(255,255,255,0.84)), url(./images/background.png);
    background-repeat: repeat-y;
}

#about-anchor {
    scroll-margin-top: 110px;
}

#about {
    text-align: center;
    font-size: 3.6vw;
}

#bandstand-title-image {
    text-align: center;
}

.section-title {
    text-align: center;
    font-size: 3.5vw;
}

.iframe-container {
    position: relative;
    width: 80%;
    left: 10%;
    right: 10%;
    padding-bottom: 48%;
    height: 0;
    z-index: 1;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 7.5%;
    width: 85%;
    height: 85%;
    text-align: center;
}

#contact-section {
    text-align: center;
}

#contact-container {
    width: 20%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

.contact-item {
    display: block;
    direction:  row;
}


/*
#contact-container {
    position: relative;
    width: 20%;
    left: 40%;
    right: 40%;
    padding-bottom: 30%;
    height: 0;
    z-index: 1;
}

.contact-item {
    position: absolute;
    top: 0;
    width: 100%;
    height: auto;
    text-align: center;
}
*/

